;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app {:target :npm-module
        :runtime :react-native
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [my.app]}}
        :init-fn my.app/init}}}
